# Copy to .env only when you need to override the development defaults.
REDIS_PORT=6379

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_ROOT_HOST=%
MYSQL_DATABASE=app_db

POSTGRES_PORT=5432
POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

MONGO_PORT=27017
MONGO_DATABASE=app_db

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

KAFKA_PORT=9092
KAFKA_ADVERTISED_HOST=127.0.0.1
KAFKA_CLUSTER_ID=4L6g3nShT-eMCtK--X86sw
